* {
    padding: 0;
    margin: 0;

}

body {
    background-image: url('../img/low-poly-grid-haikei.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gmao-titulo {
    width: 50vh;
    padding: 0;
    margin: 1rem;
    border-radius: 28%;

}

.members {
    display: flex;
    align-items: center;

}

.name {
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: solid;
    border-style: none;
    border-color: rgb(24, 25, 36);
    border-width: 10px;
    border-radius: 15%;
    padding: 10px;
    margin: 10px;
    box-shadow: 50px;
    opacity: 40%;
}

.name:hover {
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: solid;
    border-style: inset;
    border-color: rgb(24, 25, 36);
    border-width: 30px;
    border-radius: 15%;
    padding: 10px;
    margin: 10px;
    box-shadow: 50px;
    opacity: 100%;
    transition: 0.4s;
}


.foto-perfil {
    width: 7rem;
    border-radius: 100%;
    margin: 10px;
}


.fa {

    margin: 3px;
    padding: 10px;
    font-size: 20px;
    width: 1rem;
    height: 1rem;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background: #FFF;
    color: black;
}

.fa:hover {
    opacity: 0.7;
}

.fa-linkedin {
    color: #FFF;
    background: #007bb5;
}

.fa-instagram {
    color: #FFF;
    background: rgb(138, 0, 218) ;
}

.fa-github {
    color: black;
    background: #FFF ;
}