* {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

body {
  background-image: url("../img/low-poly-grid-haikei.svg");
  background-repeat: no-repeat;
  background-size: cover;
}


.container {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gmao-titulo {
    padding: 5rem;
}

.titulo {
        color: #fff;
        font-family: monospace;
        font-weight: bolder;
        font-size: 60px;
        overflow: hidden; /* Ensures the content is not revealed until the animation */
        border-right: .15em solid orange; /* The typwriter cursor */
        white-space: nowrap; /* Keeps the content on a single line */
        margin: 0 auto; /* Gives that scrolling effect as the typing happens */
        letter-spacing: .15em; /* Adjust as needed */
        animation: 
          typing 3.5s steps(30, end),
          blink-caret .5s step-end infinite;
      }
      
      
      /* The typing effect */
      @keyframes typing {
        from { width: 0 }
        to { width: 100% }
      }
      
      /* The typewriter cursor effect */
      @keyframes blink-caret {
        from, to { border-color: transparent }
        50% { border-color: orange }
      }

.members {
  display: flex;
  align-items: center;
  
}

#content {
  display: flex;
  align-items: center;

}

.segundoNome {
  font-weight: bold;
}

.name {
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 20px;
  box-shadow: 50px;
  opacity: 40%;
  border-style: solid;
  border-color: transparent;
  border-radius: 15%;
  border-width: 10px;
  width: 10rem;
}



.name:hover {
  border-color: #181924;
  border-style: solid;
  transform: scale(1.15);
  transition: 0.7s;
  border-radius: 15%;
  opacity: 100%;
}

.foto-perfil {
  width: 7rem;
  border-radius: 100%;
  margin: 10px;
}

.fa {
  margin: 3px;
  padding: 10px;
  font-size: 20px;
  width: 1rem;
  height: 1rem;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  background: #fff;
  color: black;
}

.menu {
  text-align: center;
}

.menu-item {
  display: inline-block;
}

.menu-item a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  display: block;
}

.menu-item a:hover {
  background: #333;
  color: #fff;
}

.submenu {
  position: absolute;
  display: none;
}

.menu-item:hover .submenu,
.menu-item.over .submenu {
  display: block;
}

.submenu-item {
  display: block;
}

.submenu-item {
  display: inline-block;
}

.fa:hover {
  opacity: 0.7;
}

.fa-linkedin {
  color: #fff;
  background: #007bb5;
}

.fa-instagram {
  color: #fff;
  background-image: linear-gradient(
    to bottom right,
    #515bd4,
    #8134af,
    #dd2a7b,
    #feda77,
    #f58529
  );
}

.fa-github {
  color: white;
  background: rgb(48, 48, 48)
  ;
}
